<!--Fuente Roboto Medium-- > .roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
.side-nav {
  width: 220px;
  background-color: #fff1d0;
  padding-top: 80px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
.nav-items {
  width: 100%; /* Asegura que los items ocupen todo el ancho */
}
.nav-item {
  padding: 15px 20px;
  cursor: pointer;
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding dentro del ancho total */
}
.nav-item:hover {
  background-color: #ffc639;
  width: 100%; /* Asegura que el cambio de color tome todo el ancho */
}

/* Ubica el soporte al final del sidebar */
.support {
  padding: 15px 20px;
  background-color: #e9ecef;
  border-top: 1px solid #ddd;
  width: 100%;
}
.main-content {
  margin-left: 200px;
  padding-top: 80px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.icono {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .side-nav {
    width: 60px;
  }
  .nav-item span,
  .support span {
    display: none;
  }
}
