body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  height: 100%;
}

.logotipo {
  width: 10rem;
}

h2 {
  font-size: 24px;
}
