<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="editarTarea.css">
    <title>Editar Tarea</title>
</head>
<body>
    <div class="container">
        <a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver </a>

        <h1><i class="fa fa-pencil" aria-hidden="true"></i> Editar tarea</h1>

        <div>
            <h3>Titulo</h3>
            <input type="text" placeholder="Lista de compras">
        </div>

        <div class="input-group">
            <div>
                <h3>Fecha limite</h3>
                <input type="date">
            </div>
            <div>
                <h3>Recordatorio</h3>
                <select>
                    <option>Hoy</option>
                    <option>Mañana</option>
                    <option>Diario</option>
                    <option>Calendario</option>
                </select>
            </div>
            <div>
                <h3>Prioridad</h3>
                <select>
                    <option>Urgente</option>
                </select>
            </div>
        </div>

        <h3>Descripcion</h3>
        <div class="description-box">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam soluta cupiditate delectus, eos laboriosam temporibus accusantium. Consectetur deleniti, beatae eius, culpa officia delectus pariatur, repudiandae quos repellendus distinctio veniam sunt.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima labore tempora alias excepturi perferendis autem sapiente laborum quidem commodi cum et quis, tenetur a consectetur culpa facilis impedit molestias eos.</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nulla aperiam eum illo, unde nobis! Voluptate modi, repellendus maxime officiis ipsum repudiandae eligendi earum rerum error consequatur dignissimos optio laborum.</p>
        </div>

        <div class="icon-container">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <i class="fa fa-download" aria-hidden="true"></i>
        </div>

        <div class="button-container">
            <button>Guardar</button>
        </div>
    </div>
</body>
</html>