<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>Aviso de Borrado</title>
    <link rel="stylesheet" href="mensaje-borrado.css">
</head>
<body>
    <div class="container">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        <h2>¿Estas seguro de que quieres eliminar la tarea?</h2>
        <button>No, mantener</button>
        <button>Eliminar</button>
    </div>
</body>
</html>